@charset "UTF-8";
/*--------------------------------------------------------------
# Bourbon
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
.nv-site-header {
  background-image: -webkit-linear-gradient(53deg, #CD1A52 12%, #CF2E4F 46%, #D24C4C 100%);
  background-image: -o-linear-gradient(53deg, #CD1A52 12%, #CF2E4F 46%, #D24C4C 100%);
  background-image: linear-gradient(143deg, #CD1A52 12%, #CF2E4F 46%, #D24C4C 100%); }

.nv-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  position: relative;
  margin: 0 auto;
  padding: 0 40px; }
  @media screen and (max-width: 640px) {
    .nv-container {
      padding: 0 20px; } }

/*--------------------------------------------------------------
# Branding
--------------------------------------------------------------*/
.nv-site-branding {
  max-width: 250px;
  margin: 1.5em 0 1.5em; }
  .nv-site-branding img {
    display: block; }
  .nv-site-branding a {
    color: #ffffff;
    text-decoration: none;
    display: block; }
    .nv-site-branding a:hover, .nv-site-branding a:focus {
      color: #333333; }

.nv-site-title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 500;
  margin: 0; }

.nv-site-description {
  margin: 0;
  color: #ffffff; }

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.nv-main-navigation {
  font-size: 16px;
  font-size: 1rem;
  clear: both;
  display: block; }
  @media screen and (max-width: 960px) {
    .nv-main-navigation {
      display: none; } }
  .nv-main-navigation .menu > li.menu-item-has-children > a:after, .nv-main-navigation .menu > li.page_item_has_children > a:after {
    content: '▾';
    margin-left: 0.5em; }
  .nv-main-navigation .menu > li > ul {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .nv-main-navigation .nv-callout {
    background: transparent;
    border-radius: 100px;
    border: 2px solid #ffffff; }
    .nv-main-navigation .nv-callout a {
      padding-left: 2em;
      padding-right: 2em; }
    .nv-main-navigation .nv-callout:hover, .nv-main-navigation .nv-callout:focus {
      background: #ffffff; }
      .nv-main-navigation .nv-callout:hover a, .nv-main-navigation .nv-callout:focus a {
        color: #f46060; }
        .nv-main-navigation .nv-callout:hover a:before, .nv-main-navigation .nv-callout:focus a:before {
          display: none; }
  .nv-main-navigation .nv-no-underline:hover a:before, .nv-main-navigation .nv-no-underline:focus a:before {
    display: none; }
  .nv-main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .nv-main-navigation ul li {
      margin: 0 1.5em; }
      @media screen and (max-width: 1023px) {
        .nv-main-navigation ul li {
          margin: 0 1.25em; } }
      .nv-main-navigation ul li:first-child {
        margin-left: 0; }
      .nv-main-navigation ul li:last-child {
        margin-right: 0; }
      .nv-main-navigation ul li.menu-item-has-children:hover a:before, .nv-main-navigation ul li.menu-item-has-children:focus a:before, .nv-main-navigation ul li.page_item_has_children:hover a:before, .nv-main-navigation ul li.page_item_has_children:focus a:before {
        display: none; }
      .nv-main-navigation ul li:hover a:before, .nv-main-navigation ul li:focus a:before {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
      .nv-main-navigation ul li a {
        color: #ffffff;
        padding: .625em 0; }
        .nv-main-navigation ul li a:before {
          -webkit-transition: -webkit-transform 0.1s;
          -moz-transition: -moz-transform 0.1s;
          transition: transform 0.1s;
          -webkit-transform: scale3d(0, 1, 1);
          -moz-transform: scale3d(0, 1, 1);
          -ms-transform: scale3d(0, 1, 1);
          -o-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          content: '';
          background-color: #ffffff;
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: 0;
          left: 0; }
    .nv-main-navigation ul ul {
      -webkit-transition: opacity 0.1s, top 0.1s;
      -moz-transition: opacity 0.1s, top 0.1s;
      transition: opacity 0.1s, top 0.1s;
      background-color: rgba(51, 51, 51, 0.9);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;
      opacity: 0; }
      .nv-main-navigation ul ul:before {
        -webkit-transition: -webkit-transform 0.1s;
        -moz-transition: -moz-transform 0.1s;
        transition: transform 0.1s;
        -webkit-transform: scale3d(0, 1, 1);
        -moz-transform: scale3d(0, 1, 1);
        -ms-transform: scale3d(0, 1, 1);
        -o-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        content: '';
        background-color: #ffffff;
        width: 100%;
        height: 3px;
        position: absolute;
        top: -3px;
        left: 0; }
      .nv-main-navigation ul ul li {
        margin: 0; }
        .nv-main-navigation ul ul li a {
          color: #ffffff;
          padding: .5em 1em; }
          .nv-main-navigation ul ul li a:hover, .nv-main-navigation ul ul li a:focus {
            background-color: rgba(255, 255, 255, 0.25); }
          .nv-main-navigation ul ul li a:before {
            display: none; }
      .nv-main-navigation ul ul ul {
        left: -999em;
        top: 0; }
        .nv-main-navigation ul ul ul:after {
          display: none; }
      .nv-main-navigation ul ul li:hover > ul,
      .nv-main-navigation ul ul li:focus > ul {
        left: 100%; }
      .nv-main-navigation ul ul a {
        width: 220px; }
    .nv-main-navigation ul li:hover > ul,
    .nv-main-navigation ul li.focus > ul {
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      top: 2.75em;
      left: 50%;
      margin-left: -110px;
      opacity: 1; }
      .nv-main-navigation ul li:hover > ul li:hover > ul,
      .nv-main-navigation ul li:hover > ul li.focus > ul,
      .nv-main-navigation ul li.focus > ul li:hover > ul,
      .nv-main-navigation ul li.focus > ul li.focus > ul {
        left: auto;
        margin-left: 0; }
      .nv-main-navigation ul li:hover > ul ul,
      .nv-main-navigation ul li.focus > ul ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.15); }
        .nv-main-navigation ul li:hover > ul ul:before,
        .nv-main-navigation ul li.focus > ul ul:before {
          display: none; }
        .nv-main-navigation ul li:hover > ul ul li a,
        .nv-main-navigation ul li.focus > ul ul li a {
          padding: .5em 1.75em; }
        .nv-main-navigation ul li:hover > ul ul li li a,
        .nv-main-navigation ul li.focus > ul ul li li a {
          padding: .5em 2.25em; }
      .nv-main-navigation ul li:hover > ul:before,
      .nv-main-navigation ul li.focus > ul:before {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .nv-main-navigation li {
    float: left;
    position: relative; }
  .nv-main-navigation a {
    display: block;
    text-decoration: none; }

#mobile-navigation:not(.mm-menu) {
  display: none; }

/*************************
Hamburger button
**************************/
.hamburger-button {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  z-index: 4;
  display: none;
  position: relative; }
  @media screen and (max-width: 960px) {
    .hamburger-button {
      display: block; } }
  .hamburger-button span, .hamburger-button:before, .hamburger-button:after {
    -webkit-transition: none 0.5s ease 0.5s;
    -moz-transition: none 0.5s ease 0.5s;
    transition: none 0.5s ease 0.5s;
    -webkit-transition-property: -webkit-transform, top, bottom, right, opacity;
    -moz-transition-property: -moz-transform, top, bottom, right, opacity;
    transition-property: transform, top, bottom, right, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    background: #ffffff;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    right: 7px; }
  .hamburger-button:before {
    top: 10px; }
  .hamburger-button span {
    top: 20px; }
  .hamburger-button:after {
    top: 30px; }

.mm-opening .hamburger-button:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 20px; }

.mm-opening .hamburger-button span {
  opacity: 0; }

.mm-opening .hamburger-button:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px; }

/*
	jQuery.mmenu

*/
/*
	jQuery.mmenu oncanvas CSS
*/
.mm-hidden {
  display: none !important; }

.mm-wrapper {
  overflow-x: hidden;
  position: relative; }

.mm-menu,
.mm-menu > .mm-panel {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.mm-menu {
  box-sizing: border-box;
  background: inherit;
  display: block;
  overflow: hidden;
  padding: 0; }

.mm-panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.mm-panel.mm-opened {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.mm-panel.mm-subopened {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -o-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0); }

.mm-panel.mm-highest {
  z-index: 1; }

.mm-menu > .mm-panel {
  background: inherit;
  border-color: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0;
  display: block;
  clear: both; }

.mm-menu > .mm-panel.mm-hasnavbar {
  padding-top: 40px; }

.mm-menu > .mm-panel:before,
.mm-menu > .mm-panel:after {
  content: '';
  display: block;
  height: 20px; }

.mm-vertical .mm-panel {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important; }

.mm-vertical .mm-listview .mm-panel,
.mm-listview .mm-vertical .mm-panel {
  display: none;
  padding: 10px 0 10px 10px; }

.mm-vertical .mm-listview .mm-panel .mm-listview > li:last-child:after,
.mm-listview .mm-vertical .mm-panel .mm-listview > li:last-child:after {
  border-color: transparent; }

.mm-vertical li.mm-opened > .mm-panel,
li.mm-vertical.mm-opened > .mm-panel {
  display: block; }

.mm-vertical .mm-listview > li > .mm-next,
.mm-listview > li.mm-vertical > .mm-next {
  height: 40px;
  bottom: auto; }

.mm-vertical .mm-listview > li > .mm-next:after,
.mm-listview > li.mm-vertical > .mm-next:after {
  top: 16px;
  bottom: auto; }

.mm-vertical .mm-listview > li.mm-opened > .mm-next:after,
.mm-listview > li.mm-vertical.mm-opened > .mm-next:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.mm-navbar {
  border-bottom: 1px solid;
  border-color: inherit;
  text-align: center;
  line-height: 20px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.mm-navbar > * {
  display: block;
  padding: 10px 0; }

.mm-navbar a,
.mm-navbar a:hover {
  text-decoration: none; }

.mm-navbar .mm-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.mm-navbar .mm-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 1; }

.mm-navbar .mm-btn:first-child {
  padding-left: 20px;
  left: 0; }

.mm-navbar .mm-btn:last-child {
  text-align: right;
  padding-right: 20px;
  right: 0; }

.mm-panel .mm-navbar {
  display: none; }

.mm-panel.mm-hasnavbar .mm-navbar {
  display: block; }

.mm-listview,
.mm-listview > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

.mm-listview {
  font: inherit;
  font-size: 14px;
  line-height: 20px; }

.mm-listview a,
.mm-listview a:hover {
  text-decoration: none; }

.mm-listview > li {
  position: relative; }

.mm-listview > li,
.mm-listview > li:after,
.mm-listview > li .mm-next,
.mm-listview > li .mm-next:before {
  border-color: inherit; }

.mm-listview > li > a,
.mm-listview > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0; }

.mm-listview > li > a.mm-arrow,
.mm-listview > li > span.mm-arrow {
  padding-right: 50px; }

.mm-listview > li:not(.mm-divider):after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }

.mm-listview > li:not(.mm-divider):after {
  left: 20px; }

.mm-listview .mm-next {
  background: rgba(3, 2, 1, 0);
  width: 50px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2; }

.mm-listview .mm-next:before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }

.mm-listview .mm-next + a,
.mm-listview .mm-next + span {
  margin-right: 50px; }

.mm-listview .mm-next.mm-fullsubopen {
  width: 100%; }

.mm-listview .mm-next.mm-fullsubopen:before {
  border-left: none; }

.mm-listview .mm-next.mm-fullsubopen + a,
.mm-listview .mm-next.mm-fullsubopen + span {
  padding-right: 50px;
  margin-right: 0; }

.mm-menu > .mm-panel > .mm-listview {
  margin: 20px 0; }

.mm-menu > .mm-panel > .mm-listview:first-child,
.mm-menu > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: -20px; }

.mm-listview .mm-inset {
  list-style: inside disc;
  padding: 0 10px 15px 40px;
  margin: 0; }

.mm-listview .mm-inset > li {
  padding: 5px 0; }

.mm-listview .mm-divider {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px; }

.mm-listview .mm-spacer {
  padding-top: 40px; }

.mm-listview .mm-spacer > .mm-next {
  top: 40px; }

.mm-listview .mm-spacer.mm-divider {
  padding-top: 25px; }

.mm-prev:before,
.mm-next:after,
.mm-arrow:after {
  content: '';
  border: 2px solid transparent;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.mm-prev:before {
  border-right: none;
  border-bottom: none;
  left: 20px; }

.mm-next:after,
.mm-arrow:after {
  border-top: none;
  border-left: none;
  right: 20px; }

.mm-menu {
  background: #f3f3f3;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7); }

.mm-menu .mm-navbar > *,
.mm-menu .mm-navbar a {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after {
  border-color: rgba(0, 0, 0, 0.3); }

.mm-menu .mm-listview {
  border-color: rgba(0, 0, 0, 0.1); }

.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
  border-color: rgba(0, 0, 0, 0.3); }

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.5); }

.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.05); }

.mm-menu .mm-divider {
  background: rgba(0, 0, 0, 0.05); }

/*
	jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  box-sizing: border-box;
  position: relative; }

.mm-slideout {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease; }

html.mm-opened {
  overflow: hidden;
  position: relative; }

html.mm-opened body {
  overflow: hidden; }

html.mm-background .mm-page {
  background: inherit; }

#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block; }

.mm-menu.mm-offcanvas {
  display: none;
  position: fixed; }

.mm-menu.mm-current {
  display: block; }

.mm-menu {
  width: 80%;
  min-width: 140px;
  max-width: 440px; }

html.mm-opening .mm-slideout {
  -webkit-transform: translate(80%, 0);
  -moz-transform: translate(80%, 0);
  -ms-transform: translate(80%, 0);
  -o-transform: translate(80%, 0);
  transform: translate(80%, 0); }

@media all and (max-width: 175px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -o-transform: translate(140px, 0);
    transform: translate(140px, 0); } }

@media all and (min-width: 550px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(440px, 0);
    -moz-transform: translate(440px, 0);
    -ms-transform: translate(440px, 0);
    -o-transform: translate(440px, 0);
    transform: translate(440px, 0); } }

/*
    	jQuery.mmenu position extension CSS
    */
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0; }

html.mm-right.mm-opening .mm-slideout {
  -webkit-transform: translate(-80%, 0);
  -moz-transform: translate(-80%, 0);
  -ms-transform: translate(-80%, 0);
  -o-transform: translate(-80%, 0);
  transform: translate(-80%, 0); }

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-140px, 0);
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -o-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }

@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-440px, 0);
    -moz-transform: translate(-440px, 0);
    -ms-transform: translate(-440px, 0);
    -o-transform: translate(-440px, 0);
    transform: translate(-440px, 0); } }

/*
    	jQuery.mmenu z-position extension CSS
    */
html.mm-front .mm-slideout {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  z-index: 0 !important; }

.mm-menu.mm-front {
  z-index: 1; }

.mm-menu.mm-front,
.mm-menu.mm-next {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.mm-menu.mm-front.mm-right,
.mm-menu.mm-next.mm-right {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.mm-menu.mm-top {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.mm-menu.mm-bottom {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

html.mm-opening .mm-menu.mm-front,
html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.mm-menu.mm-top,
.mm-menu.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px; }

/*
      	jQuery.mmenu pageshadow extension CSS
      */
.mm-menu.mm-pageshadow:after {
  content: "";
  display: block;
  width: 20px;
  height: 120%;
  position: absolute;
  left: 100%;
  top: -10%;
  z-index: 99; }

.mm-menu.mm-pageshadow.mm-right:after {
  left: auto;
  right: 100%; }

.mm-menu.mm-pageshadow.mm-next:after,
.mm-menu.mm-pageshadow.mm-front:after {
  content: none;
  display: none; }

.mm-menu.mm-pageshadow:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

/*
        	jQuery.mmenu themes extension CSS
        */
.mm-menu.mm-theme-dark {
  background: #333;
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8); }

.mm-menu.mm-theme-dark .mm-navbar > *,
.mm-menu.mm-theme-dark .mm-navbar a {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-dark .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-dark .mm-navbar .mm-btn:after {
  border-color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-dark .mm-listview {
  border-color: rgba(0, 0, 0, 0.15); }

.mm-menu.mm-theme-dark .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-dark .mm-listview > li .mm-arrow:after {
  border-color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.1); }

.mm-menu.mm-theme-dark.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-theme-dark.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu.mm-theme-dark .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-dark .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(255, 255, 255, 0.05); }

.mm-menu.mm-theme-dark .mm-divider {
  background: rgba(255, 255, 255, 0.05); }

.mm-menu.mm-theme-dark label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.8); }

.mm-menu.mm-theme-dark em.mm-counter {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-dark .mm-fixeddivider span {
  background: rgba(255, 255, 255, 0.05); }

.mm-menu.mm-pageshadow.mm-theme-dark:after {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.mm-menu.mm-theme-dark .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8); }

.mm-menu.mm-theme-dark .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-dark .mm-indexer a {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-dark label.mm-toggle {
  background: rgba(0, 0, 0, 0.15); }

.mm-menu.mm-theme-dark label.mm-toggle:before {
  background: #333; }

.mm-menu.mm-theme-dark input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

.mm-menu.mm-theme-white {
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-theme-white .mm-navbar > *,
.mm-menu.mm-theme-white .mm-navbar a {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-theme-white .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-white .mm-navbar .mm-btn:after {
  border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-theme-white .mm-listview {
  border-color: rgba(0, 0, 0, 0.1); }

.mm-menu.mm-theme-white .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-white .mm-listview > li .mm-arrow:after {
  border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-theme-white .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.05); }

.mm-menu.mm-theme-white.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-theme-white.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu.mm-theme-white .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-white .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-theme-white .mm-divider {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-theme-white label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-theme-white em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-theme-white .mm-fixeddivider span {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-pageshadow.mm-theme-white:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.mm-menu.mm-theme-white .mm-search input {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-theme-white .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-theme-white .mm-indexer a {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-theme-white label.mm-toggle {
  background: rgba(0, 0, 0, 0.1); }

.mm-menu.mm-theme-white label.mm-toggle:before {
  background: white; }

.mm-menu.mm-theme-white input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

.mm-menu.mm-theme-black {
  background: black;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-theme-black .mm-navbar > *,
.mm-menu.mm-theme-black .mm-navbar a {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-black .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-black .mm-navbar .mm-btn:after {
  border-color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-black .mm-listview {
  border-color: rgba(255, 255, 255, 0.2); }

.mm-menu.mm-theme-black .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-black .mm-listview > li .mm-arrow:after {
  border-color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-theme-black.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-theme-black.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu.mm-theme-black .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-black .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(255, 255, 255, 0.2); }

.mm-menu.mm-theme-black .mm-divider {
  background: rgba(255, 255, 255, 0.2); }

.mm-menu.mm-theme-black label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-theme-black em.mm-counter {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-black .mm-fixeddivider span {
  background: rgba(255, 255, 255, 0.2); }

.mm-menu.mm-pageshadow.mm-theme-black:after {
  content: none;
  display: none; }

.mm-menu.mm-theme-black .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-theme-black .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-black .mm-indexer a {
  color: rgba(255, 255, 255, 0.4); }

.mm-menu.mm-theme-black label.mm-toggle {
  background: rgba(255, 255, 255, 0.2); }

.mm-menu.mm-theme-black label.mm-toggle:before {
  background: black; }

.mm-menu.mm-theme-black input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

/*
          	jQuery.mmenu effects extension CSS
          */
html.mm-effect-zoom-menu .mm-menu.mm-offcanvas {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease; }

html.mm-effect-zoom-menu.mm-opened .mm-menu.mm-effect-zoom-menu {
  -webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

html.mm-effect-zoom-menu.mm-opening .mm-menu.mm-effect-zoom-menu {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0); }

html.mm-effect-zoom-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }

html.mm-effect-zoom-menu.mm-right.mm-opening .mm-menu.mm-effect-zoom-menu {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0); }

html.mm-effect-slide-menu .mm-menu.mm-effect-slide-menu {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease; }

html.mm-effect-slide-menu.mm-opened .mm-menu.mm-effect-slide-menu {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -o-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0); }

html.mm-effect-slide-menu.mm-opening .mm-menu.mm-effect-slide-menu {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

html.mm-effect-slide-menu.mm-right.mm-opened .mm-menu.mm-effect-slide-menu {
  -webkit-transform: translate3d(30%, 0, 0);
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -o-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0); }

html.mm-effect-slide-menu.mm-right.mm-opening .mm-menu.mm-effect-slide-menu {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

html.mm-effect-fade-menu .mm-menu.mm-effect-fade-menu {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

html.mm-effect-fade-menu.mm-opening .mm-menu.mm-effect-fade-menu {
  opacity: 1; }

.mm-menu.mm-effect-zoom-panels .mm-panel {
  -webkit-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -moz-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -ms-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -o-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0); }

.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened.mm-subopened {
  -webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(-30%, 0, 0); }

.mm-menu.mm-effect-slide-panels-0 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.mm-menu.mm-effect-slide-panels-100 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -ms-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -ms-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  -moz-transition-delay: 800ms;
  -ms-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms; }

html.mm-effect-slide-listitems .mm-menu.mm-effect-slide-listitems .mm-listview > li:nth-child(9) {
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms; }

html.mm-effect-slide-listitems.mm-opening .mm-menu.mm-effect-slide-listitems .mm-panel.mm-opened .mm-listview > li {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.site-search-dropdown {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 2em 0 1.3em;
  z-index: 5;
  background: #333333; }
  .site-search-dropdown form {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .site-search-dropdown label {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1; }
  .site-search-dropdown input[type="search"] {
    font-size: 24px;
    font-size: 1.5rem;
    padding: 1em;
    border-radius: 0;
    background: transparent;
    border-width: 0 0 2px 0;
    padding: 0.5em 0.5em 0.5em 0;
    width: 100%;
    color: #ffffff;
    outline: 0; }
  .site-search-dropdown .close-site-search {
    font-size: 16px;
    font-size: 1rem;
    position: absolute;
    top: -1.5em;
    right: 40px;
    background: transparent;
    border: 0;
    color: #ffffff;
    padding: 0; }
    @media screen and (max-width: 640px) {
      .site-search-dropdown .close-site-search {
        right: 20px; } }
  .site-search-dropdown .search-submit {
    font-size: 20px;
    font-size: 1.25rem;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    border-radius: 100px;
    border: 2px solid #ffffff;
    padding: 1em 2em;
    margin-left: 1em;
    outline: 0; }
    .site-search-dropdown .search-submit:hover, .site-search-dropdown .search-submit:focus {
      background: #ffffff;
      color: #333333;
      border-color: #ffffff; }
